<!DOCTYPE html>
<html>
<head>
	<title>Password Reset Request</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<p>Dear User,</p>
	<p>You recently requested to reset your password. To complete the process, please click the link below:</p>
	<p><a href="{{link}}">Reset Password</a></p>
	<p>If you did not request a password reset, please ignore this email or contact our support team for assistance.</p>
	<p>Best regards,</p>
	<p>Yalla Recruitment Team</p>
</body>
</html>