<!DOCTYPE html>
<html>
<head>
	<title>New school here!!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<p>
	<p>Dear User,</p>
    <p>There is a new request from a school named {{name}} wanting to work with you. <br>
    <b>Email:</b> <i>{{school_email}}</i>
    </p>
	<p>Best regards,</p>
	<p>Yalla Recruitment Team</p>
</body>
</html>