<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to yallarecruitment</title>
    <style>
      /* Add some styling to make the email look nice */
      body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        padding: 20px;
        text-align: center;
      }
      .body{
        text-align: center;
      }

      h1 {
        font-size: 24px;
        color: #0f7ef1;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        color: #666666;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      .logo {
        margin: 40px 0;
      }

      img {
        height: 100px;
      }
    </style>
  </head>
  <body>
    <div class="body">
        <div class="logo">
      <img src="http://13.234.115.15:9200/assets/img/favicon_2x.png" alt="Yalla logo">
    </div>
    <h1>Welcome to Yalla Recruitment!</h1>
    <p>
      Congratulations!!!<br>
      One of our great schools "<b>{{school}}</b>" is wanting to work with you.
    </p>
    <p>
      As a valued member of our faculty, you will play a crucial role in shaping the minds of our students and helping them achieve their full potential. We look forward to working with you and seeing the great things you will accomplish at {{school}}.
    </p>
    <p>
      Thank you for choosing to be a part of our community, and we hope you enjoy your time here!
    </p>
    </div>
    
  </body>
</html>
